.fundo {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.calculadora {
    background-color:#2D2A37;
    padding: 15px;
    border-radius: 10px;
}

/*botoes numeros*/
.calculadora form input {
   font-family: Arial; 
   color: aliceblue;
   border: none;
   outline: none;
   width: 60px;
   height: 60px;
   border-radius: 100px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
   margin: 6px;
}

.calculadora input[type="button"]:hover {
    cursor: pointer;
}

.calculadora input[type="button"] {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    font-size: 22px;
    font-family: Rubik;
}

.calculadora input[type="button"].roxinho {
    background: linear-gradient(0deg, #462878, #462878);
}

.calculadora input[type="button"].roxinhoclaro {
    background: #7F45E2;
    width: 134px;
}

.calculadora input[type="button"].CE{
    color:#7F45E2
}

.calculadora input[type="button"]:hover {
    color:#8b8df8
}


form .painel {
    display: flex;
    justify-self: flex-end;
    margin: 0;
}

form .painel input {
    background-color:#2D2A37;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 43px;
    padding: 10px;
    box-shadow: none;
}

form .equacao {
    display: flex;
    justify-self: flex-end;
    margin: 0;
}

form .equacao input {
    color:#6B6B6B;
    background-color:#2D2A37;
    width: 260px;
    height: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    box-shadow: none;
}