.fundo {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.calculadora {
    background-color:rgb(50, 43, 53);
    padding: 15px;
    border-radius: 10px;
}

/*botoes numeros*/
.calculadora form input {
   color: aliceblue;
   background-color: rgb(50, 43, 53);
   border: none;
   outline: none;
   width: 60px;
   height: 60px;
   border-radius: 100px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
   margin: 10px;
}

form .painel {
    display: flex;
    justify-self: flex-end;
    margin: 0;
}

form .painel input {
    background-color: rosybrown;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-shadow: none;
}

form .equacao {
    display: flex;
    justify-self: flex-end;
    margin: 0;
}

form .equacao input {
    background-color: rosybrown;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-shadow: none;
}
